@import "tailwindcss";


:root {
  --background: #F8B96F;
  --foreground: #3a2a13;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.35s ease, transform 0.35s ease;
  user-select: none;
}
